<nav class="navbar">
    <div class="logo">
        <img src="../logo9898.png" alt="">
    </div>
    <div class="navlinks">
        <ul class="links">
            <li id="link"><a href="/stories/add">Post Help</a></li>
            <li id="link"><a href="/about">About Us</a></li>
            {{!-- <li id="link"><a href="/dashboard"><img src="{{DP}}" alt="DP" class="image"></a></li> --}}
            {{!-- <li id="link"><a>About Us</a></li> --}}
            <li id="link"><a>Contact Us</a></li>
            <li id="link"><a>Profile</a></li>
            <li id="link"><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>